* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
}

.display {
  background-color: rgb(182, 182, 182);
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
}
.display1 {
  opacity: 0.4;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
}
.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.4;
}

.allButtons {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

button {
  color: whitesmoke;
  background-color: rgb(39, 55, 59);
  border: 0.5px solid rgb(92, 92, 92);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}

.operation,
.equals {
  background-color: darkorange;
}
button:hover {
  opacity: 0.8;
}

.zero {
  grid-column: 1/3;
}
